
/*index.html*/

.inicial{
    height: 100%;
    position: relative;
}

.inicial h1{
    font-size: 80px;
    float: left;
    position: absolute;
    bottom: 35%;
    margin-left: 130px;
    -webkit-animation: surgeTexto 1.5s ease-in-out;
    animation: surgeTexto 1.5s ease-in-out;
    z-index: 2;
}

@-webkit-keyframes surgeTexto
{
    0%
    {
        transform: translateX(-200%);
    }
}

@keyframes surgeTexto
{
    0%
    {
        transform: translateX(-200%);
    }
}

.inicial img{
    width: 50%;
    float: right;
    margin-right: 100px;
    -webkit-animation: surgeImagem 2.5s ease-in-out;
    animation: surgeImagem 2.5s ease-in-out;
    z-index: 1;
}

@-webkit-keyframes surgeImagem
{
    0%
    {
        opacity: 0;
    }
}

@keyframes surgeImagem
{
    0%
    {
        opacity: 0;
    }
}

@media(min-width: 768px){

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        width: 50%;
        position: relative;
        left: 6%;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.wrapper-carousel{
    width: 100%;
    /* background-color: rgba(45, 45, 45, 0.21); */
    adding: 60px 13px 10px;
}

.carousel{
    width: 55%;
/*    position: absolute;*/
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    overflow: hidden;

}

.carousel-inner img{
    width: 25%;
}

.carousel-caption h2{
    background-color: rgba(200,200,200,0.6);
    border-radius: 20px;
    padding: 20px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}
