

.labelConsultar {
	font-size: 120%;
	color: #000;
}


.form-control {
	width: 100%;
	padding: 0px 1px;

}

.form-group {
	display: -webkit-inline-box;
	text-align: -webkit-center;
	border: solid 0px;
}

.formConsultar{
	width: auto;
	padding-top: 0;
	padding-bottom: 0;
	padding: 10px 15px;
	text-align: -webkit-center;
	border: groove;
	border-color: indianred;
}
.btn-default {
	border: solid 1px;
}

.btnPesquisar {
	border: solid 1px;
    display: inline-block;
		color: #333;
    background-color: #fff;
    border-color: #ccc;
    /* padding: 6px 12px; */
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    background-image: none;
    border-radius: 4px;
		font-family: inherit;
		-webkit-appearance: button;
		text-transform: none;
		overflow: visible;
		box-sizing: border-box;
}

img {
    width: 45px;
}

.container {
    /* margin: auto; */
    margin-top: 55px;
}
.blocoTabelaResultado{
}

.imgAddOver{
	width: 18px;
}

.csInputForm{
	 width: auto;
	     text-transform: uppercase;
}
label {
    width: 95px;
}
.linhaTbl{
	cursor: pointer;
}
/*bot�o Enviar do formul�rio*/
input[type="submit"] {
	background: url("../resources/img/fundo_botao.gif") repeat-x scroll 0 0
	#2A2A2A;
	border: 1px solid #272727;
	text-shadow: 1px 1px 0 #000000;
	-moz-border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	cursor: pointer;
	padding: 3px;
	margin-top: 13px;
	width: 78px;
}
/* Fim Botao Enviar do Formulário*/
.table{
	    text-transform: capitalize;
}

.formConfirmaDados{
	text-transform: uppercase;
}
.invisivel{
    display: none;
}
